main{
  background-color: $blueinside;
}

.inside-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.container-main{
  height: 370px;
  background-color: $lightblue;
  padding: 18px 10px;
  margin: 50px 20px;
  width: 200px;
  text-align: center;
}

.album-img{
  width: 150px;
  padding: 15px 0px;
}

h3, h4{
  color: $titlecolor;
  padding: 10px 0;
}

h4{
  color: $textcolor;
}

// $('.author-select').change(function(){
//   var author = $(this).val();
//   console.log(author);
//
//   $.ajax(
//     {
//       "url":'http://localhost:88/php-ajax-dischi/server.php',
//       "method":'GET',
//       "data": {
//         author: author
//       },
//       "success": function (data){
//         render(data);
//       },
//       "error": function(err){
//         alert("Errore");
//       }
//     });
//   });
